.home-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
  }
  
  .home-body .image_div {
    width: 15vw;
    height: 15vw;
    background-size: cover;
    background-position: center;
  }
  
  .fullname {
    text-transform: capitalize !important;
    font-family: "Hammersmith One", sans-serif;
    font-size: 70px;
    letter-spacing: 2px;
    color: #333333;
  }
  
  .tagline {
    text-transform: capitalize !important;
    font-family: "Roboto", sans-serif;
    color: #c2a97d;
    letter-spacing: 2px;
    font-size: 20px;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .livlogo {
    /* height: 100vh !important; 
    object-fit: contain; */
    object-fit: cover;
    height: 35vh;
    width:50%;
  }
  
  @media only screen and (max-width: 600px) {
    .home-body .image_div {
      width: 70vw;
      height: 70vw;
      background-size: cover;
      background-position: center;
    }
  
    .home-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .home-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 15%;
      height: 90vh;
    }
  
    .fullname {
      margin-top: 20px;
      font-size: 50px;
      letter-spacing: 2px;
    }
  
    .tagline {
      letter-spacing: 2px;
      font-size: 16px;
    }
  
    .intro {
      text-align: center;
    }
  
    .img-container{
      display: flex;
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1500px) {
    .home-body .image_div {
      width: 25vw;
      height: 25vw;
      background-size: cover;
      background-position: center;
    }
  }
  