.App {
  text-align: center;
  display: flex;
}

body {
  background-color:#f8f6f4; 
  text-align: center;
  /* flex-wrap: wrap; */
}

.CenterElements {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .navbar-toggler{
  border: none;
  position: fixed;
  right: 20px;
  top: 40px;
  z-index: 1;
} */
